.btnActive {
  background-color: white;
  &:nth-child(1) {
    color: black;
  }
}

.timerActive {
  background-color: grey;
}

.markOn {
  display: block;
}
.markOff {
  opacity: 0;
}
.notToUse {
  opacity: 0.6;
}
.shake {
  animation: shakeIt 0.25s infinite;
}
@keyframes shakeIt {
  0% {
    transform: translateX(-1px);
  }
  25% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  75% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(-1px);
  }
}
