@import "variables";

.show-timing {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  &__hours {
    width: 140px;
    height: 100px;
    margin: 0 10px;
    font-size: 80px;
    text-align: center;
    border: 1px solid $basic-color;
    color: black;
  }
  &__minutes {
    width: 140px;
    height: 100px;
    margin: 0 10px;
    font-size: 80px;
    text-align: center;
    border: 1px solid $basic-color;
    color: black;
  }
  &__seconds {
    width: 140px;
    height: 100px;
    margin: 0 10px;
    font-size: 80px;
    text-align: center;
    border: 1px solid $basic-color;
    color: black;
  }
}
