@import "variables";

.show-timing {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  &__hours {
    width: 140px;
    height: 100px;
    margin: 0 10px;
    border: 1px solid $basic-color;
    color: $basic-color;
  }
  &__minutes {
    width: 140px;
    height: 100px;
    margin: 0 10px;
    border: 1px solid $basic-color;
    color: $basic-color;
  }
  &__seconds {
    width: 140px;
    height: 100px;
    margin: 0 10px;
    border: 1px solid $basic-color;
    color: $basic-color;
  }
}
